/*
Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Common
*/

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    color: white; 
    text-decoration: none; 
}
.container{
    margin: 0 auto;
    width: 80%;
    margin-top: 90px;
    margin-bottom: 20px;
}

img{
    display: block;
    width: 20%;
}

i{
    padding: 5px;
    color: white;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

small{
    display: block;
}

/*
Header
*/

header{
    background-color: #ff6900;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


.nav-selector{
    width: 20%;
}

.logo{
    width: 60%;
}

.icons{
    width: 20%;
    color: white;
}

header .header-nav{
    display: flex;
    justify-content: space-between;
}

header .header-nav .nav-selector,
header .header-nav .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    color: white;
}

/*
Main
*/

.box{
    width: 30%;
    margin-bottom: 60px;
}

.foto{
    width: 80%;
    position: relative;
    
}

.txt{
   /* width: 20%;*/
    
}

.sconto{
    position: absolute;
    z-index: 10;
    top:450px;
    background-color: red;
    color: white;
}
.sost{
    position: absolute;
    z-index: 10;
    top:450px;
    background-color: green;
    color: white;
    left: 250px;
}

.price{
    color: red;
}

.price s{
    color: darkgrey;
}

/*
Footer
*/

footer{
    background-color: #1a1a1a;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

footer .footer-info ul li{
    padding: 5px;
}

footer span{
    color: white;
}

footer .footer-info ul{
    display: flex;
}

footer .footer-social span{
    display: block;
}